<ion-header >
  <ion-toolbar class="findercolor" >
    <ion-buttons id="menubtn" slot="start">
      <ion-back-button id="menubtn" class="findercolor" ></ion-back-button>
    </ion-buttons>
   <ion-title>Enrégistrez un service</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
    
  <div class="marg">
  <ion-list class="ion-padding">
    <ion-item ion-button class="findercolor" (click)="selectImage()">
      <ion-icon  slot="start" class="starcolor" name="image">&nbsp; 
      </ion-icon> Logo de votre entreprise 
    </ion-item>&nbsp;
    <ion-item >
      <ion-label class="label" position="floating">Votre nom</ion-label>
      <ion-input  class="ion-text-center"  type="text" name="nom"
       [(ngModel)]="nom_user" >  </ion-input>
      </ion-item>&nbsp;
      <ion-item>
        <ion-label class="label" position="floating">Type de service</ion-label>
        <ion-input class="ion-text-center"  type="text" name="desc"
        [(ngModel)]="type_service" >  </ion-input>
       </ion-item>&nbsp;
  
     <ion-item>
      <ion-label class="label" position="floating">Description du service</ion-label>
      <ion-input class="ion-text-center"  type="text" name="desc"
      [(ngModel)]="description" >  </ion-input>
     </ion-item>&nbsp;

     <ion-item>
      <ion-label class="label" position="floating">Details suplémentaire</ion-label>
      <ion-input class="ion-text-center"  type="text" name="detail"
       [(ngModel)]="detail" >  </ion-input>
     </ion-item>&nbsp;

      <ion-item>
        <ion-label class="label" position="floating">Cout du service</ion-label>
        <ion-input class="ion-text-center"  type="text" name="prix"
         [(ngModel)]="prix_service" >  </ion-input>
       </ion-item>&nbsp;
       <ion-item>
        <ion-label class="label" position="floating">Frais suplémentaire</ion-label>
        <ion-input class="ion-text-center"  type="text" name="frais"
         [(ngModel)]="frais_suple" >  </ion-input>
       </ion-item>&nbsp;
       <ion-item>  
        <ion-label class="label" position="floating">Disponibilité</ion-label>
      <ion-select  placeholder="disponibilité"  [(ngModel)]="dispo">
        <ion-select-option value="disponible">disponible</ion-select-option>
        <ion-select-option value="Free lance">Free lance</ion-select-option>
        <ion-select-option value="non disponible 24/24">24/24</ion-select-option>
        <ion-select-option value="non disponible">non disponible</ion-select-option>
      </ion-select>
      </ion-item>&nbsp;
       <ion-item>
        <ion-label class="label" position="floating">Votre contact</ion-label>
        <ion-input class="ion-text-center"  type="number" name="contact"
         [(ngModel)]="contact">  </ion-input>
       </ion-item>&nbsp;
       

       <ion-item>  
        <ion-label class="label" position="floating">Votre Pays</ion-label>
      <ion-select  placeholder="pays"  [(ngModel)]="pays">
        <ion-select-option value="Cameroun">Cameroun</ion-select-option>
        <ion-select-option value="Congo">Congo</ion-select-option>
        <ion-select-option value="tchad">tchad</ion-select-option>
        <ion-select-option value="RCA">RCA</ion-select-option>
        <ion-select-option value="Gabon">Gabon</ion-select-option>
        <ion-select-option value="Cote d'ivoire">Cote d'ivoire</ion-select-option>
        <ion-select-option value="Mali">Mali</ion-select-option>
        <ion-select-option value="Senegale">Senegale</ion-select-option>
      </ion-select>
      </ion-item>&nbsp;

       <ion-item>
        <ion-label class="label" position="floating">Votre ville</ion-label>
        <ion-input class="ion-text-center"  type="text" name="ville"
         [(ngModel)]="ville" >  </ion-input>
       </ion-item>&nbsp;

       <ion-item>
        <ion-label class="label" position="floating">Localisation</ion-label>
        <ion-input class="ion-text-center"  type="text" name="local"
         [(ngModel)]="localisation" >  </ion-input>
       </ion-item>&nbsp;
      
      <!--submit button -->
        <div class="container-form-btn">
            <ion-button  class="findercolor" (click)="send_data()" >
              <ion-icon ion-button  class="starcolor" name="send">&nbsp; 
              </ion-icon>&nbsp; 
             Prévisualisation de votre profile
            </ion-button> 
        </div>&nbsp;&nbsp;

      </ion-list>
  </div>


</ion-content>
<ion-footer class="ion-no-border"  >
  <ion-toolbar  class="foot findercolor" >
  <p   class="ion-text-center">Finder pour vous servire
   
  </p>
  
  
  </ion-toolbar>
  
  </ion-footer>