ion-menu-button {
    color:white;
    
  }
  .findercolor{
   // --background: var(--ion-color-finder);
   --background:#9651DA;
    color:white;
    }
    .search{
    padding-inline-end: 10px;
    align-self: center;
    color: white;
  
    }