<ion-header [translucent]="true">
  <ion-toolbar class="findercolor" >
    <ion-buttons id="menubtn" slot="start">
      <ion-back-button id="menubtn" class="findercolor" ></ion-back-button>
     
    </ion-buttons>
  
 
   <ion-title>Enrégistrez un produit à vendre</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-slides>
    
  <div class="marg">
  <ion-list class="ion-padding">
    <ion-item ion-button class="findercolor" (click)="imagePicker()">
      <ion-icon  slot="start" class="starcolor" name="image">&nbsp; 
      </ion-icon> Choisir une Image 
    </ion-item>&nbsp;
    <ion-item >
      <ion-label class="label" position="floating"> Nom du produit</ion-label>
      <ion-input  class="ion-text-center"  type="text" name="nom"
       [(ngModel)]="nom_produit" >  </ion-input>
      </ion-item>&nbsp;
     <ion-item>
      <ion-label class="label" position="floating">Description du produit</ion-label>
      <ion-input class="ion-text-center"  type="text" name="desc"
      [(ngModel)]="description" >  </ion-input>
     </ion-item>&nbsp;

     <ion-item>
      <ion-label class="label" position="floating">Details du produit</ion-label>
      <ion-input class="ion-text-center"  type="text" name="detail"
       [(ngModel)]="detail" >  </ion-input>
     </ion-item>&nbsp;
      
        <ion-item>
          <ion-label class="label" position="floating">Categorie du produit</ion-label>
        <ion-select  placeholder="vetements" [(ngModel)]="categorie" >
          <ion-select-option value="Vetements">Vetements</ion-select-option>
          <ion-select-option value="Chaussure">Chaussure</ion-select-option>
          <ion-select-option value="Bijoux">Bijoux</ion-select-option>
          <ion-select-option value="Sac">Sac</ion-select-option>
          <ion-select-option value="Beauté">Beauté</ion-select-option>
          <ion-select-option value="Mode">Mode</ion-select-option>
          <ion-select-option value="Electroniques">Electroniques</ion-select-option>
          <ion-select-option value="Voitures">Voitures</ion-select-option>
          <ion-select-option value="Immobilier">Immobilier</ion-select-option>
          <ion-select-option value="Quincaillerie">Quincaillerie</ion-select-option>
          <ion-select-option value="Autre">Autre</ion-select-option>
        </ion-select>
      </ion-item>&nbsp;
     
     
        <ion-item>  
          <ion-label class="label" position="floating">Etat du produit</ion-label>
        <ion-select  placeholder="Neuf"  [(ngModel)]="etat">
          <ion-select-option value="Neuf">Neuf</ion-select-option>
          <ion-select-option value="Premier choix">Premier choix</ion-select-option>
          <ion-select-option value="Dexième choix">Dexième choix</ion-select-option>
          <ion-select-option value="Troixième choix">Troixième choix</ion-select-option>
        </ion-select>
      </ion-item>&nbsp;

      <ion-item>
        <ion-label class="label" position="floating">Prix du produit</ion-label>
        <ion-input class="ion-text-center"  type="text" name="prix"
         [(ngModel)]="prix" >  </ion-input>
       </ion-item>&nbsp;
       <ion-item>
        <ion-label class="label" position="floating">Votre contact</ion-label>
        <ion-input class="ion-text-center"  type="number" name="contact"
         [(ngModel)]="contact" >  </ion-input>
       </ion-item>&nbsp;
       <ion-item>
        <ion-label class="label" position="floating">Votre ville</ion-label>
        <ion-input class="ion-text-center"  type="text" name="ville"
         [(ngModel)]="ville" >  </ion-input>
       </ion-item>&nbsp;
       <ion-item>
        <ion-label class="label" position="floating">Votre cartier</ion-label>
        <ion-input class="ion-text-center"  type="text" name="cartier"
         [(ngModel)]="cartier" >  </ion-input>
       </ion-item>&nbsp;
      
      <!--submit button -->
        <div class="container-form-btn">
            <ion-button  class="findercolor" (click)="send_data()" >
              <ion-icon ion-button  class="starcolor" name="send">&nbsp; 
              </ion-icon>&nbsp; 
              Erégistrez votre produit
            </ion-button> 
        </div>&nbsp;&nbsp;

      </ion-list>
  </div>

</ion-slides>
</ion-content>
<ion-footer class="ion-no-border" >
  <ion-toolbar  class="foot" >
  <p   class="ion-text-center">Finder pour vous servire
   
  </p>
  
  
  </ion-toolbar>
  
  </ion-footer>