<ion-header [translucent]="true">
  <ion-toolbar class="findercolor" >
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
 
   <ion-title>Market:{{data1}}</ion-title>
  </ion-toolbar>
  
</ion-header>



<ion-content [fullscreen]="true">

  <ion-fab class="fabbtn" horizontal="end" vertical="bottom" slot="fixed" edge>
    <ion-fab-button class="fabcolor" >
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" >
      <ion-fab-button class="fabsecond" data-desc="deconexion"  (click)="log_out()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="vetements"  (click)="fab()">
        <ion-icon name="shirt"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="chaussure"  (click)="fab()">
        <ion-icon name="shirt"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="bijoux"  (click)="fab()">
        <ion-icon name="diamond1"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="sac"  (click)="fab()">
        <ion-icon name="bag-remove"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="beauté"  (click)="fab()">
        <ion-icon name="umbrella"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="mode"  (click)="fab()">
        <ion-icon name="woman"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="électroniques"  (click)="fab()">
        <ion-icon name="tablet-landscape"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="voitures"  (click)="fab()">
        <ion-icon name="tablet-landscape"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="immobilier"  (click)="fab()">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
  <ion-header>

    <ion-toolbar  class="headerpad">
<!-- 
      <ion-buttons >
        <ion-slides  pager [options]="slideOptions" >
          <ion-slide>
        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="shirt" large >
            
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>vetements</ion-label>
        </ion-col></ion-row>
     
        
        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="shirt" large >
            
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>chaussure</ion-label>
        </ion-col></ion-row>

        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="diamond1" large >
              
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>bijoux</ion-label>
        </ion-col></ion-row>
      </ion-slide>
      <ion-slide>
        
      
      
        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="bag-remove" large >
            
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>sac</ion-label>
        </ion-col></ion-row>

        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="umbrella" large >
              
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>beauté</ion-label>
        </ion-col></ion-row>

        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="woman" large >
            
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>mode</ion-label>
        </ion-col></ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="tablet-landscape" large >
              
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>électroniques</ion-label>
        </ion-col></ion-row>
      
      
        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="bag-remove" large >
            
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>voitures</ion-label>
        </ion-col></ion-row>

        <ion-row><ion-col class="buttoncol">
          <ion-button  >
            <ion-icon class="starcolor" ion-button name="home" large >
            
            </ion-icon>
          </ion-button>&nbsp; 
          <ion-label>Mobiliers</ion-label>
        </ion-col></ion-row>
      </ion-slide>
      </ion-slides>
    
      </ion-buttons>
-->
<ion-searchbar
*ngIf="toggled"
showCancelbutton="always"
animated="true"
(ionCancel)="toggleSearch()"
animated [(ngModel)]="searchTerm"
>
</ion-searchbar>
<ion-icon class="search" ion-button slot="end" *ngIf="!toggled" (click)="toggle()" name="search" >

</ion-icon>
</ion-toolbar>

    <ion-list>
     <ion-item *ngFor="let product of data|filter:searchTerm" type="ion-button" (click)="marketlistener(product)">
      <ion-thumbnail slot="start">
        <img [src]="product.img[0]" *ngIf="product.img[0]!= null" alt="Image">
       </ion-thumbnail>
       <ion-label>
       <h3>{{ product.title}}</h3>
       <p>{{product.description}}</p>
       <p>{{product.price | currency}}</p>
      
      <span *ngIf="product.avStart>0">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
      <span *ngIf="product.avStart>1">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
      <span *ngIf="product.avStart>2">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
      <span *ngIf="product.avStart>3">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
     
    </ion-label>
    
     </ion-item>

    </ion-list>
  </ion-header>

  

 
</ion-content>

<ion-footer class="ion-no-border" >
<ion-grid >
  <ion-buttons padding class="btncenter">
  <ion-row padding  >   
  <ion-col >
    <ion-button class="findercolor" (click)="registerpage()">
      <ion-icon ion-button class="starcolor" name="camera">&nbsp; 
      </ion-icon>&nbsp; 
         Vendez un produit
    </ion-button> 
  </ion-col>
  
</ion-row>
<ion-row  >   
  <ion-col >
    <ion-button class="findercolor">
      <ion-icon ion-button class="starcolor" name="camera">&nbsp; 
      </ion-icon>&nbsp; 
         Vendez un service
    </ion-button> 
  </ion-col>

</ion-row>
</ion-buttons>
</ion-grid>
  


</ion-footer>
