<ion-header [translucent]="true">
  <ion-toolbar class="findercolor" >
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
 
   <ion-title>Market:{{fab_data}}</ion-title>
  </ion-toolbar>
  
</ion-header>



<ion-content [fullscreen]="true">

  <ion-fab class="fabbtn" horizontal="end" vertical="bottom" slot="fixed" edge>
    <ion-fab-button class="fabcolor" >
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" >
      <ion-fab-button class="fabsecond" data-desc="Autre"  (click)="fab('Autre')">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="Vetements"  (click)="fab('Vetements')">
        <ion-icon name="shirt"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Chaussure"  (click)="fab('Chaussure')">
        <ion-icon name="shirt"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Bijoux"  (click)="fab('Bijoux')">
        <ion-icon name="diamond1"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Sac"  (click)="fab('Sac')">
        <ion-icon name="bag-remove"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="Beauté"  (click)="fab('Beaute')">
        <ion-icon name="umbrella"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Mode"  (click)="fab('Mode')">
        <ion-icon name="woman"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Electroniques" (click)="fab('Electroniques')">
        <ion-icon name="tablet-landscape"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Voitures"  (click)="fab('Voitures')">
        <ion-icon name="tablet-landscape"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Immobilier"  (click)="fab('Immobilier')">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
  <ion-header>

    <ion-toolbar  class="headerpad">

      <ion-searchbar
          *ngIf="toggled"
          showCancelbutton="always"
          animated="true"
          (ionCancel)="toggleSearch()"
          animated [(ngModel)]="searchTerm"
          >
      </ion-searchbar>
      <ion-icon class="search" ion-button slot="end" *ngIf="!toggled" (click)="toggle()" name="search" >

      </ion-icon>
    </ion-toolbar>
</ion-header>
    <ion-list>
     <ion-item *ngFor="let product of tmp_data|filter:searchTerm" type="ion-button" (click)="marketlistener(product)">
      <ion-thumbnail slot="start">
        <!--   <img [src]="product.data.img[0]" *ngIf="product.data.img[0]!= null" alt="Image"> -->
        <img [src]="product.img[0]" *ngIf="product.img!= null" alt="Image">
       </ion-thumbnail>
       <ion-label>
       <h3>{{product.title}}</h3>
       <p>{{product.description}}</p>
       <p>{{product.city}}:{{product.cartier}}</p>
       <p>{{product.price | currency}}</p>
      
      <span *ngIf="product.avStart>0">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
      <span *ngIf="product.avStart>1">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
      <span *ngIf="product.avStart>2">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
      <span *ngIf="product.avStart>3">
        <ion-icon class="starcolor" icon="star"></ion-icon>
      </span>
     
    </ion-label>
    
     </ion-item>

    </ion-list>


  

 
</ion-content>

<ion-footer class="ion-no-border" >
<ion-grid >
  <ion-buttons padding class="btncenter">
  <ion-row padding  >   
  <ion-col >
    <ion-button class="findercolor" (click)="vendre()">
      <ion-icon ion-button class="starcolor" name="camera">&nbsp; 
      </ion-icon>&nbsp; 
         Vendez un produit
    </ion-button> 
  </ion-col>
  
</ion-row>
<ion-row  >   
  <ion-col >
    <ion-button class="findercolor">
      <ion-icon ion-button class="starcolor" name="camera">&nbsp; 
      </ion-icon>&nbsp; 
         Vendez un service
    </ion-button> 
  </ion-col>

</ion-row>
</ion-buttons>
</ion-grid>
  


</ion-footer>
