<ion-header class="ion-no-border">
  <ion-toolbar  class="findercolor">
    <ion-buttons id="menubtn" slot="start">
      <ion-back-button id="menubtn" class="findercolor" ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Enrégistrer une CNI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
 
    
    <div class="marg">
    <ion-list class="ion-padding">
      <ion-item ion-button class="findercolor"  (click)="selectImage()" >
        <ion-icon  slot="start" class="starcolor" name="image"> 
        </ion-icon> charger une image de la cni
      </ion-item>&nbsp;
      <ion-item >
        <ion-label class="label" position="floating">Nom </ion-label>
        <ion-input  class="ion-text-center"  type="text" name="nom"
         [(ngModel)]="nom_cni" >  </ion-input>
        </ion-item>&nbsp;
       <ion-item>
        <ion-label class="label" position="floating">Prenom</ion-label>
        <ion-input class="ion-text-center"  type="text" name="pre"
        [(ngModel)]="prenom" >  </ion-input>
       </ion-item>&nbsp;
  
       <ion-item>
        <ion-label class="label" position="floating">numéro de la cni</ion-label>
        <ion-input class="ion-text-center"  type="number" name="numero"
         [(ngModel)]="Numero_cni" >  </ion-input>
       </ion-item>&nbsp;

       <ion-item>
        <ion-label class="label" >date délivrance</ion-label>
        <ion-input class="ion-text-center date" type="date" name="date"
         [(ngModel)]="date_cni" >  </ion-input>
       </ion-item>&nbsp;

       <ion-item  class="findercolor">
             laisser votre contact
       </ion-item>&nbsp;
      
        
         <ion-item>
          <ion-label class="label" position="floating">votre nom</ion-label>
          <ion-input class="ion-text-center"  type="text" name="votre_nom"
          [(ngModel)]="votre_nom">  </ion-input>
         </ion-item>&nbsp;
         <ion-item>
          <ion-label class="label" position="floating">Votre contact</ion-label>
          <ion-input class="ion-text-center"  type="number" name="telephone"
           [(ngModel)]="telephone" >  </ion-input>
         </ion-item>&nbsp;
         <ion-item>
          <ion-label class="label" position="floating">votre Email</ion-label>
          <ion-input class="ion-text-center"  type="mail" name="mail"
          [(ngModel)]="email">  </ion-input>
         </ion-item>&nbsp;
        
         <ion-item ion-button class="findercolor"   >
          <ion-icon  slot="start" class="starcolor" name="send">
          </ion-icon> Enregitrer la CNI
        </ion-item>&nbsp;
        <!--submit button -->
          
  
        </ion-list>
  </div>
  
  

</ion-content>
