.findercolor{
    // --background: var(--ion-color-finder);
    --background:#9651DA;
     color:white;
     }
     .starcolor{
      color: rgb(255, 255, 0);
 
     }

ion-card{

    --background: white;
  
  }
    
  
  #menubtn {
    --background: rgba(var(--ion-color-primary), #9651DA);
    
  }
  .textright{
  // float: right;
  // align-self: center;
   margin-left: 20px;
  }
  
  .left{
    float: left;
   // padding-right: 25px;
    align-self: center;
  }
  .button-right{

    float:right;
  }
  .button-left{
    float: left;
   // padding-right: 5px;
    align-self: center;
  }
  .text{
    position:center;
    justify-content: center;
   // background-color: #7922cf23;
    background-color:  #00000000;
    color: #80000065;
  }
  .text1{
   // position:center;
    justify-content: center;
    
  }
  .col{
    border:2px solid  #d6cbe0;
      border-radius: 10px;
     // margin:5px ;
     background-color:rgb(200, 222, 223);
      }
      .linecolor{
      background-color: yellow;

      }
      .app-icon{
        background-image: url(/assets/image/share0.svg);
        height: 150px;
        width: 150px;
        background-repeat: no-repeat;
       // border-radius: 320px;
        background-position: center;
        background-size: contain;
       //background-color: #3a6d7e;
        margin: 30px auto;
      }

      .btncenter{
        display:flex;
        justify-content: center;
       
       }

       .chip1{

        background-color: #7904ee54;
        color: rgb(92, 3, 128);
    }
    .chip2{
    
      background-color:#f8a407;
      color: rgb(218, 20, 20);
    }
    .chip3{
       
        background-color:rgba(218, 67, 29, 0.418);
        color:  #d12109;
    }
    .contn{
       
      background-color: #7904ee54;
        color: rgb(92, 3, 128);
  }