
.findercolor{
        // --background: var(--ion-color-finder);
        --background:#9651DA;
         color:white;
         }
         .findercolor1{
            // --background: var(--ion-color-finder);
            --background-color:#9651DA;
             color:white;
             }
     .starcolor{
        color: yellow;
   
       }

.chip1{

    background-color: #7904ee54;
    color: rgb(92, 3, 128);
}
.chip2{

    background-color:#4d0ae98f;
    color: rgb(33, 2, 170);
}
.chip3{
   
    background-color:rgba(218, 67, 29, 0.418);
    color:  #d12109;
}
.chip4{

    background-color:#f8a407;
    color: rgb(218, 20, 20);
}

.chip5{

    background-color:#63a5f0;
    color: rgb(5, 33, 192);
}
.btncenter{
 display:flex;
 justify-content: center;

}
.starcolor{
    color: yellow;

   }