<ion-header [translucent]="true">
  <ion-toolbar class="findercolor" >
    <ion-buttons slot="start">
      <ion-menu-button class="starcolor" ></ion-menu-button>
    </ion-buttons>
   <ion-searchbar
   *ngIf="toggled"
   showCancelbutton="true"
   animated="true"
   (ionCancel)="toggleSearch()"
  animated [(ngModel)]="searchTerm"
   >
   </ion-searchbar>
   <ion-icon class="search" ion-button slot="end" *ngIf="!toggled" (click)="toggle()" name="search" >

   </ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed"(ionRefresh)="getInfos($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    refreshingSpinner="crescent"
    refreshingText="refreshing">
     
    </ion-refresher-content>
  </ion-refresher>
 
  <ion-card  *ngFor="let info of allInfos|filter:searchTerm" type="ion-button" (click)="homelistener(info)"  >
    <ion-item  class="ion-activated" >
      <ion-thumbnail slot="start">
       <img src="{{info.urlimage}}" *ngIf="info.urlimage != null" alt="Image">
      </ion-thumbnail>
      <ion-label>
        <p>
        <b>Nom: {{info.nom_prenom}}</b>
        </p>
        <p>
         Numero CNI: {{info.num_cni}}
        </p>
        <p>
          Date CNI: {{info.date_cni}}
         </p>
       
      </ion-label>
     
    </ion-item>
  </ion-card>
  

</ion-content>
<ion-footer class="ion-no-border" >
  <ion-grid >
    <ion-buttons padding class="btncenter">
    <ion-row padding  >   
    <ion-col >
      <ion-button class="findercolor">
        <ion-icon ion-button class="starcolor" name="camera">&nbsp; 
        </ion-icon>&nbsp; 
           Ajoutez un objet trouvé
      </ion-button> 
    </ion-col>
    
  </ion-row>
  
  </ion-buttons>
  </ion-grid>
    
  
  
  </ion-footer>