<ion-header>
  <ion-toolbar class="findercolor" >
    <ion-buttons slot="start">
      <ion-menu-button class="starcolor" ></ion-menu-button>
    </ion-buttons>
   <ion-searchbar
   *ngIf="toggled"
   showCancelbutton="true"
   animated="true"
   (ionCancel)="toggleSearch()"
  animated [(ngModel)]="searchTerm"
   >
   </ion-searchbar>
   <ion-icon class="search" ion-button slot="end" *ngIf="!toggled" (click)="toggle()" name="search" >

   </ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed"(ionRefresh)="getInfos($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    refreshingSpinner="crescent"
    refreshingText="refreshing">
     
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab class="fabbtn" horizontal="end" vertical="bottom" slot="fixed" edge>
    <ion-fab-button class="fabcolor" >
      <ion-icon name="people" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" >
      <ion-fab-button class="fabsecond" data-desc="Autre"  (click)="fab('Autre')">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="fabsecond" data-desc="Passeport"  (click)="fab('Passeport_')">
        <ion-icon  name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="Diplôme"  (click)="fab('Diplome_')">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="Acte de naissance"  (click)="fab('Actes_')">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="Permis de conduire"  (click)="fab('Permis_')">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fabsecond" data-desc="Cni"  (click)="fab('Cni_')">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
 
  
  <ion-list  >&nbsp;
   <ion-item  *ngFor="let info of tmp_data|filter:searchTerm" type="ion-button" (click)="homelistener(info)" >
    <ion-thumbnail slot="start">
      
      <img [src]="info.urlimage[0]" *ngIf="info.urlimage!= null" alt="Image">
     </ion-thumbnail>
     <ion-label>
       <p>
       <b>Nom: {{info.nom_prenom}}</b>
       </p>
       <p>
        Numero CNI: {{info.num_cni}}
       </p>
       <p>
         Date CNI: {{info.date_cni}}
        </p>
      
     </ion-label>
   </ion-item>

  </ion-list>
  

</ion-content>
<ion-footer class="ion-no-border" >
  <ion-grid >
    <ion-buttons padding class="btncenter">
    <ion-row padding  >   
    <ion-col >
      <ion-button class="findercolor" (click)="addcni()">
        <ion-icon ion-button class="starcolor" name="camera">&nbsp; 
        </ion-icon>&nbsp; 
           Ajoutez un objet trouvé
      </ion-button> 
    </ion-col>
    
  </ion-row>
  
  </ion-buttons>
 </ion-grid>
  </ion-footer>