ion-menu-button {
  color:white;
  
}
.findercolor{
 
 --background:#9651DA;
  color:white;
  }
  .search{
  padding-inline-end: 10px;
  align-self: center;
  color: white;

  }
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.btncenter{
  display:flex;
  justify-content: center;
 
 }
 .starcolor{
     color: yellow;
 
    }
    .fabbtn{
       
      margin-bottom: 30px;
    
     }
     ion-fab-button[data-desc]{
       position:relative;
     }
ion-fab-button[data-desc]::after{
  position: absolute;
  content:attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom:4px;
  background-color: var(--ion-color-finder);
  padding:9px;
  border-radius:15px;
  color:rgb(255, 255, 255);
  box-shadow:0 3px 5px -1px rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12);
}
.fabcolor{
  --background: var(--ion-color-finder);
 // background-color: #9651DA;
}
.fabsecond{
  --background: var(--ion-color-finder2);
}